/* Styles globaux */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('../images/back.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    min-height: 100vh; 
    margin: 0; 
}

/* En-tête */
.page-header {
    background-color: rgba(230, 242, 255, 0.8); 
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

/* Styles pour les titres de cartes */
.card-title {
    color: #dc3545; /* Variante 1 - Rouge */
}

/* Fond de carte */
.card {
    background-color: rgba(255, 255, 255, 0.8); 
    border: none;
}

/* Corps de la carte */
.card-body {
    text-align: left;
}

/* Wrapper pour centrer le contenu */
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

/* Image dans les cartes */
.card-img-top {
    width: 100%; 
    height: 200px;
    object-fit: contain; 
}

/* Styles de bouton */
.btn-primary {
    background-color: #dc3545; /* Variante 1 - Rouge */
    border-color: #dc3545;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* "Retour en haut" bouton */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none; /* Caché par défaut */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#backToTop:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: transparent;
    color: #000000;
    padding: 1rem 0;
}

/* Variante 2 - Bleu */
.card-title.blue {
    color: #007bff;
}

.btn-primary.blue {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary.blue:hover {
    background-color: #0056b3;
}

/* Variante 3 - Bleu clair */
.card-title.lightblue {
    color: #399bf1;
}

.btn-primary.lightblue {
    background-color: #399bf1;
    border-color: #399bf1;
}

.btn-primary.lightblue:hover {
    background-color: #0056b3;
}

/* Variante 4 - Or */
.card-title.gold {
    color: #FFD700;
}

.btn-primary.gold {
    background-color: #FFD700;
    border-color: #FFD700;
}

.btn-primary.gold:hover {
    background-color: #DAA520;
}

/* Variante 5 - Vert */
.card-title.green {
    color: #009853;
}

.btn-primary.green {
    background-color: #009853;
    border-color: #009853;
}

.btn-primary.green:hover {
    background-color: #0056b3;
}
